<!-- Wappler include fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="Login" appconnect="local" components="{dmxAnimateCSS:{},dmxValidator:{},dmxNotifications:{},dmxStateManagement:{},dmxFormatter:{},dmxBrowser:{},dmxBootstrap5Modal:{}}" head-page="layouts/main" -->
<div class="modal fade" id="modal1" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-bg-success text-white">
                <h5 class="modal-title text-capitalize text-white"><i class="fas fa-check"></i>&nbsp; Confirmation de création de votre nouveau mot de passe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-white bg-opacity-75">
                <div class="row mb-2">
                    <div class="col text-center">
                        <img class="img-thumbnail img-fluid" width="60" src="/assets/images/arton142.png">
                    </div>
                </div>
                <p class="text-start text-black-50"><b>Félicitations&nbsp;! :</b> Votre nouveau&nbsp; mot de passe a été créé avec succès. Vous pouvez désormais vous connecter.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn fw-bold btn-outline-primary" dmx-on:click="browser1.goto('/Authentification/Login')">Se Connecter</button>
            </div>
        </div>
    </div>
</div>
<dmx-local-manager id="Ls_otpcode"></dmx-local-manager>

<style>
    .line-text {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .line-text::before,
    .line-text::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000;
        margin: 0 10px;
    }
</style>

<dmx-notifications id="notifies1" newest-on-top="true" danger-color="white" timeout="10000" closable="true" opacity="1"></dmx-notifications>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/style.css" />
<script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
<script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
<script src="/dmxAppConnect/dmxFormRepeat/dmxFormRepeat.js" defer></script>
<link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
<script src="/dmxAppConnect/dmxDataTraversal/dmxDataTraversal.js" defer></script>
<script src="/dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer></script>
<link rel="stylesheet" href="/dmxAppConnect/dmxPreloader/dmxPreloader.css" />
<script src="/dmxAppConnect/dmxPreloader/dmxPreloader.js" defer></script>


<div class="text-center container-md border-dark">
    <form method="post" class="login" id="SetPassword" action="/api/Security/SetPassword" is="dmx-serverconnect-form" dmx-on:success="modal1.show();Ls_otpcode.removeAll()" dmx-on:error="notifies1.danger(lastError.response.message)" dmx-on:unauthorized="notifies1.danger(lastError.response.message)" dmx-on:invalid="notifies1.warning('Error: Invalide '+lastError.response.message)">
        <div class="row justify-content-center mt-0 pb-5">

            <div class="col-12 col-md-8 col-xl-5 text-start rounded-2 rounded shadow align-self-stretch col-lg-8 border-warning mt-5 pt-0 pb-1 bg-white" dmx-animate-enter="fadeInUp">


                <div class="row">
                    <div class="text-center rounded-1 mt-0 pb-2 col-12 border bg-opacity-75 bg-white border-info-subtle">
                        <img src="/assets/images/arton142.png" class="img-fluid img-thumbnail rounded mt-4" width="80">
                        <h3 class="mt-2 mb-2 fw-bold lh-base bg-opacity-75 text-primary bg-white text-uppercase lead small">EDD | Compte en ligne</h3>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="text-center mt-3 text-uppercase fw-bold text-danger">Creation de mot de passe</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-1 col-10 mt-2">
                        <input type="password" id="inp_MotdePasse" name="MotdePasse" class="form-control" placeholder="Nouveau Mot de Passe" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="offset-1 col-10 mt-2">
                        <input type="password" id="inp_Confirmation" name="inp_Confirmation" class="form-control" placeholder="Confirmation Mot de Passe" required="" data-rule-equalto="MotdePasse" data-msg-equalto="Veuillez saisir à nouveau correctement votre mot de passe.">
                    </div>
                </div>
                <div class="row mt-4 visually-hidden">
                    <div class="col-10 offset-1">
                        <input id="inp_idclient" name="idclient" class="form-control" placeholder="ID Client" required="" dmx-bind:value="Ls_otpcode.data.idclient" readonly="true">
                    </div>
                </div>
                <div class="row mt-4 visually-hidden">
                    <div class="col-10 offset-1">
                        <input id="inp_otpCode" name="otpCode" class="form-control" placeholder="OTP Code" dmx-bind:value="Ls_otpcode.data.otpcode" readonly="true" required="">
                    </div>
                </div>
                <div class="row mt-4 mb-4">
                    <div class="text-center mb-1 offset-1 col-10">
                        <div class="spinner-border spinner-border-sm text-primary" role="status" dmx-show="state.executing">
                        </div>
                        <button id="login1_submit" class="btn w-100 fw-bold text-bg-danger bg-opacity-75 shadow-sm" type="submit" dmx-hide="state.executing"><i class="fas fa-check">&nbsp; &nbsp;</i>Valider</button>

                    </div>
                </div>

                <div class="row">
                    <div class="text-center mb-1 offset-1 col-10">

                        <button id="Register" class="btn w-100 mt-4 fw-bold btn-outline-primary shadow-sm" dmx-on:click="browser1.goto('/Authentification/Login')"><i class="fas fa-sign-in-alt">&nbsp; &nbsp;</i>Se Connecter</button>
                    </div>
                </div>
                <p class="text-end text-black-50 small"><span style="font-weight: normal;">{{idcontrat.data.token}}build 1.0.0</span></p>
            </div>
        </div>
    </form>
</div>
<div is="dmx-browser" id="browser1"></div>




<meta name="ac:route" content="/Authentification/SetPassword"><!-- Wappler include head-page="layouts/LoginLayout" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="SetPassword" appConnect="local" -->